# Localization (UK English) 
d-i debian-installer/language string en
d-i debian-installer/country string GB
d-i debian-installer/locale string en_GB.UTF-8
d-i localechooser/shortlist select GB
d-i localechooser/preferred-locale select en_gb.UTF-8
d-i localechooser/languagelist select en
d-i keyboard-configuration/xkb-keymap select gb
d-i keyboard-configuration/layoutcode string gb 


# Network 
d-i netcfg/choose_interface select auto 
d-i netcfg/get_hostname string kali-opsnet 
d-i netcfg/get_domain string opslan 

# Mirrors
d-i mirror/country string enter information manually
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /kali

# Enable contrib and non-free*
d-i apt-setup/contrib boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/non-free-firmware boolean true


# User Account (cyberfox) 
d-i passwd/user-fullname string cyber fox 
d-i passwd/username string cyberfox 
# Default password is sset to password. Ansible will change this
d-i passwd/user-password-crypted password $6$kDuqJv.jmCJN4nlS$vloXzABTf1FZZm1IvDBGZ4dK2wm11DITpb/MDm9buwKInB.vSFEZ4Hd9M.heRDH8kA9PUC.yjr9nR5vFwXYli/
d-i user-setup/allow-password-weak boolean true 
d-i user-setup/encrypt-home boolean false 

# Partitioning 
d-i partman-auto/method string regular 
d-i partman-auto/choose_recipe select atomic 
d-i partman-partitioning/confirm_write_new_label boolean true 
d-i partman/choose_partition select finish 
d-i partman/confirm boolean true 
d-i partman/confirm_nooverwrite boolean true 

# Package Selection
# Explicitly ordering desktop tasks first to prioritize them during the install phase.
tasksel tasksel/first multiselect standard,core,desktop-xfce,meta-default

# Essential drivers and agents for Proxmox/VirtIO environments
d-i pkgsel/include string sudo, qemu-guest-agent, xserver-xorg-video-qxl
d-i pkgsel/upgrade select full-upgrade 

wireshark-common wireshark-common/install-setuid boolean true

# Hardware and Repo settings 
d-i hw-detect/load_firmware boolean true 
d-i apt-setup/non-free boolean true 
d-i apt-setup/contrib boolean true 

# Bootloader 
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string /dev/sda

# Final Reboot 
d-i finish-install/reboot_in_progress note

## Enable SSH
d-i preseed/late_command string in-target systemctl enable ssh

